DEBUG=1

# Database
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_NAME=
POSTGRES_USER=
POSTGRES_PASSWORD=
# Parser
MAX_NEWS_PER_HOUR_RIA=1
# Poster
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_MAX_MSG_LENGTH=4096
